<div class="row d-flex justify-content-center mt-5 animate__animated animate__fadeIn">
    <div class="col-12 col-md-10 col-lg-8 col-xl-5">
        <div class="card">
            <div class="card-header">
                Formularios Template
            </div>
            <div class="card-body">
                <form autocomplete="off">
                    <div class="form-group">
                        <label for="nombre">Nombres</label>
                        <input type="text" class="form-control" id="nombre" aria-describedby="emailHelp">                       
                    </div>
                    <div class="form-group">
                        <label for="apellido">Apellido</label>
                        <input type="text" class="form-control" id="apellido">
                    </div>

                    <button type="submit" class="btn btn-primary">Registrar</button>
                </form>
            </div>
        </div>
    </div>
</div>